:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100%;
}

.parent {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
  max-height: 100vh;
}
  
.div1 { 
  grid-area: 1 / 1 / 2 / 6; 
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div11 { grid-area: 1 / 1 / 2 / 2; }
.div12 { grid-area: 1 / 2 / 2 / 3; }


.div2 { 
  grid-area: 2 / 2 / 5 / 5; 
  display: grid;
  grid-template-columns: 3.5fr 3fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div21 { grid-area: 1 / 1 / 6 / 2; }
.div22 { grid-area: 2 / 2 / 3 / 3; font-size: x-large; font-weight: bold;}
.div23 { grid-area: 3 / 2 / 4 / 3; font-size: large; }
.div24 { grid-area: 4 / 2 / 5 / 3; font-size: smaller; font-weight: lighter;}

.div3 { 
  grid-area: 5 / 1 / 6 / 6; 
}

div#heading img {
  max-width: 100%;
  height: auto;
}

div#profileImage {
  margin-top: 2%;
  margin-left: 2%;
  max-height: 100%;
}

div#playingInfo img {
  width: 100%;
  height: auto;
}

div#albumImage {
  margin: 10%;
  margin-bottom: 5%;
  max-width: 80%;
  height: auto;
}

div#heading p {
  max-height: 100%;
  margin: 5%;
}

div#playingInfo p {
  text-align: center;
  margin: 0; 
}
